DIV.expandable-detail {
    display: none;
    background-color: #d3d7cf;
    margin: 0.5em;
    padding: 0.5em;
}
.ant-outcome-failure {
    font-weight: bold;
    color: red;
}

.ant-outcome-success {
    color: #204A87;
}
