{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head_css_js %}
    <script src="/static/js/jks/hudson-behavior.js"></script>
    <script src="/static/js/jks/behavior.js"></script>
    <script src='/static/js/jks/breadcrumbs.js'></script>
    <script src="/static/js/jks/prototype.js"></script>
    <script src="/static/js/jks/yahoo-min.js"></script>
{% endblock %}
{% block content %}
<div id="page-body" class="clear white-bg">
    <div id="main-panel">
	<h1 class="build-caption page-headline">
	<img src="/static/img/jks/blue_anime.gif" alt="In progress" tooltip="In progress" style="width: 48px; height: 48px; " class="icon-blue-anime icon-xlg" />控制台输出</h1>
	<link rel='stylesheet' type='text/css' href='/static/css/style-jks.css' />
	<script src='/static/js/jks/AntTargetNote-script.js'></script>
	<script src='/static/js/jks/script.js'></script>
	<link rel='stylesheet' type='text/css' href='/static/css/style-jks.css' />
	<pre id="out" class="console-output white-bg"></pre>
	<div id="spinner">
	<img src="/static/img/jks/spinner.gif" alt="" />
	</div>
    </div>
</div>
{% endblock %}
{% block custom_foot_js %}
<script>
function GetQueryString(name){
  var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
  var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  unescape(r[2]); return null;
}
var project = GetQueryString('project');
var scroller = new AutoScroller(document.body);

function fetchNext(e,href) {
  var headers = {};
  if (e.consoleAnnotator!=undefined)
    headers["X-ConsoleAnnotator"] = e.consoleAnnotator;
      new Ajax.Request(href,{
        method: "post",
        parameters: {"start":e.fetchedBytes, "project": project, csrfmiddlewaretoken: '{{ csrf_token }}'},
        requestHeaders: headers,
        onComplete: function(rsp,_) {
          var stickToBottom = scroller.isSticking();
          var text = rsp.responseText;
          if(text!="") {
            var p = document.createElement("DIV");
            e.appendChild(p); // Needs to be first for IE
            // Use "outerHTML" for IE; workaround for:
            // http://www.quirksmode.org/bugreports/archives/2004/11/innerhtml_and_t.html
          if (p.outerHTML) {
            p.outerHTML = '<pre class="white-bg">'+text+'</pre>';
            p = e.lastChild;
           }

         else p.innerHTML = text;
           Behaviour.applySubtree(p);
           <!--ElementResizeTracker.fireResizeCheck();-->
         if(stickToBottom) scroller.scrollToBottom();

         }
         e.fetchedBytes     = rsp.getResponseHeader("X-Text-Size");
         e.consoleAnnotator = rsp.getResponseHeader("X-ConsoleAnnotator");
         if(rsp.getResponseHeader("X-More-Data")=="true")
            setTimeout(function(){fetchNext(e,href);},1000);
         else
           $("spinner").style.display = "none";
         }
  });
}
$("out").fetchedBytes = 0;
fetchNext($("out"),"{% url 'api-projects:projects-publish-log' %}");
</script>
{% endblock %}
